@import "base16.scss";

$nord0: $base00;
$nord1: $base01;
$nord2: $base02;
$nord3: $base03;
$nord4: $base04;
$nord5: $base05;
$nord6: $base06;
$nord7: $base07;
$nord8: $base0C;
$nord9: $base0D;
$nord10: $base0F;
$nord11: $base08;
$nord12: $base09;
$nord13: $base0A;
$nord14: $base0B;
$nord15: $base0E;
